# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 18df12d0852c0a49320130b636566f9f6a6322bcc70e48a182c0b6963ba85859de03086ce55d8ff237786b0beb84ffbd065ad2cb0cf17c12d2b4e47b45358f3e

test:
  secret_key_base: 5064a229889f4dec94f2e1e79f2af6382b4194061eee4483bf67d95a7122c8d6e26a65a8faf9294401eaf521cb97ad011146cecfaee69c27918a0f39ff197412

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
