<header class="header-todo-list clearfix">
  <h1>
    <%= header_title %>

    <%= link_to new_todo_path, class: "btn btn-primary pull-right add-todo-btn" do %>
      <i class="glyphicon glyphicon-plus" title="Add Todo"></i> <span class="hidden-xs">Add Todo</span>
    <% end %>
  </h1>
</header>